includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  level: max

  symfony:
    consoleApplicationLoader: tests/console-application.php

  excludePaths:
    - wp-content/
  paths:
    - src/
