<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 colors="true"
>
	<testsuites>
		<testsuite name="Unit Test Suite">
			<directory>./tests/Unit/</directory>
		</testsuite>
		<testsuite name="Integration Test Suite">
			<directory>./tests/Integration/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="TEST" value="true" force="true" />
		<env name="WP_TESTS_DIR" value="wp/tests/phpunit"/>
		<server name="DB_NAME" value="wp_pest_test_db"/>
		<server name="DB_USER" value="root"/>
		<server name="DB_PASSWORD" value=""/>
		<server name="DB_HOST" value="localhost"/>
	</php>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
		</include>
		<report>
			<clover outputFile="tests/coverage/clover.xml"/>
			<html outputDirectory="tests/coverage/html" lowUpperBound="50" highLowerBound="90"/>
		</report>
	</coverage>
</phpunit>
