name: Continuous integration checks

on:
    # Run on PRs and pushes.
    push:
    pull_request:
      paths-ignore:
        - '**.md'
        - '**.yml'
        - '**.json'
        - '**.xml'
        - '**.neon'
        - '**.lock'
    # Allow manually triggering the workflow.
    workflow_dispatch:

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name.
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
  phpcs:
    name: PHPCS check on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.4, 8.0, 8.1, 8.2]
        allowed_failure: [false]
        include:
          - php: 8.3
            allowed_failure: true

    steps:
      - name: PHP setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: cs2pr

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Check coding standards using PHPCS
        run: composer test:style -- --report-full --report-checkstyle=./phpcs-report.xml

      - name: Show PHPCS results in PR
        run: cs2pr ./phpcs-report.xml

  phpstan:
    name: PHPStan check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.4, 8.0, 8.1, 8.2]
        allowed_failure: [false]
        include:
          - php: 8.3
            allowed_failure: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: PHP setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          custom-cache-suffix: $(date -u "+%Y-%m")

      - name: Check code consistency using PHPStan
        run: composer test:types
